<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909031550117-lt8mejeilf06n6kmhhk26rviqcbtn3oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909031550117-lt8mejeilf06n6kmhhk26rviqcbtn3oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBMy-A5-19aEZixPx5i3FEtKFsC1YUoLXs</string>
	<key>GCM_SENDER_ID</key>
	<string>909031550117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softglitchsolutions.commiploy</string>
	<key>PROJECT_ID</key>
	<string>commiploy-354323</string>
	<key>STORAGE_BUCKET</key>
	<string>commiploy-354323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909031550117:ios:08263f7e9a79e902a1314c</string>
	<key>DATABASE_URL</key>
	<string>https://commiploy-354323-default-rtdb.firebaseio.com</string>
</dict>
</plist>